<form [formGroup]="myForm" (ngSubmit) = "onSubmit(nName, nPrice, nNights)"> 
    <h3>Dodavanje Sobe iz druge komponente:</h3>

    <p>
    <label>Naziv sobe: </label>
    <input type="text"  formControlName = "rName" #nName>
    </p>

    <p>
    <label>Cena sobe: </label>
    <input type="text"  formControlName = "rPrice" #nPrice>
    </p>

    <p>
    <label>Broj nocenja: </label>
    <input type="text"  formControlName = "nights" #nNights>
    </p>

    <button type="submit" [disabled] = "!myForm.valid" >Add room</button>
    
</form>

