<div>
  <h3>Pretraga soba po cneni:</h3>
  <input [(ngModel)]="searchText" placeholder="Search price">
</div>
<p><label for="nazivSobe">Naziv sobe: </label>
<input type="text" name="nazivSobe" #nnaziv></p>
<p><label for="cenaSobe">Cena sobe: </label>
<input type="text" name="cenaSobe" #ncena></p>
<button (click) = "addRoom(nnaziv, ncena)">Add room</button>

<div class="border" *ngFor = "let room of rooms | filter : searchText">

<h3>Lista soba:</h3>

<p>Naziv sobe: {{room.nazivSobe}} </p>
<p>Cena sobe: {{room.cenaSobe}} din.</p>

</div>


